export("[.rv")
export("[<-.rv")
export(Math.rv)
export(cumsum.rv)
export(cumprod.rv)
export(cummin.rv)
export(cummax.rv)
export(Ops.rv)
export("!.rv")
export(Summary.rv)
export(aperm.rv)
export(apply.rv)
export(as.bugs.rv)
export(as.list.rv)
export(as.vector.rv)
export(c.rv)
export(cbind.rv)
export(rbind.rv)
export(is.constant)
export(as.constant)
  S3method(as.constant,rv)
export(detachrv)
export(is.fuzzy)
  S3method(is.fuzzy,default)
  S3method(is.fuzzy,rv)
export(hist.rv)
export(is.na.rv)
export(lines.rv)
export("%*%.rv")
export(rvRhat)
export(rvneff)
export(rvnchains)
export(mean.rv)
export(mlplot)
  S3method(mlplot,rvsummary)
  S3method(mlplot,default)
export(rvnsims)
  S3method(rvnsims,rv)
  S3method(rvnsims,rvsummary)
  S3method(rvnsims,default)
export(setnsims)
export(getnsims)
export(is.numeric.rv)
export(as.numeric.rv)
export(as.numeric.rvfactor)
export(outer.rv)
export(points.rv)
export(postsim)
export(postsim.lm)
export(postsim.glm)
export(print.rv)
export(print.rvfactor)
export(quantile.rv)
export(median.rv)
export(is.random)
export(range.rv)
export(rep.rv)
export(rv)
export(is.rv)
export(as.rv)
  S3method(as.rv,rvfactor)
  S3method(as.rv,numeric)
  S3method(as.rv,integer)
  S3method(as.rv,list)
  S3method(as.rv,xtabs)
  S3method(as.rv,default)
export(as.rv)
  S3method(as.rv,bugs)
  S3method(as.rv,rv)
  S3method(as.rv,logical)
  S3method(as.rv,matrix)
export(as.real.rv)
export(as.double.rv)
export(as.logical.rv)
export(as.integer.rv)
export(rvVectorize)
export(rv.any.na)
export(rv.all.na)
export(rvattach)
export(rattach)
export(rvattr)
export("rvattr<-")
export(rvbern)
export(rvbeta)
export(rvbinom)
export(rvboot)
export(rvcat)
export(rvcauchy)
export(rvchisq)
export(rvci)
export(rvcompatibility)
export(plot)
  S3method(plot,rvsummary)
  S3method(plot,rv)
export(abline)
  S3method(abline,rv)
export(var)
export(var)
  S3method(var,default)
  S3method(var,rv)
export(sd)
  S3method(sd,rv)
export(cov)
export(cov)
  S3method(cov,rv)
export(cov)
  S3method(cov,default)
export(cor)
export(cor)
  S3method(cor,rv)
export(cor)
  S3method(cor,default)
export(rvconst)
export(rvcov)
export(rvcut)
  S3method(rvcut,default)
  S3method(rvcut,rv)
export(rvdens)
export(rvdirichlet)
export(rvdiscrete)
export(rvexp)
export(rvfactor)
  S3method(rvfactor,default)
  S3method(rvfactor,rv)
export(is.numeric.rvfactor)
export(is.rvfactor)
  S3method(is.rvfactor,rvfactor)
  S3method(is.rvfactor,default)
  S3method(is.rvfactor,rv)
export(as.rvfactor)
export(rvgamma)
export(rvhist)
export(rvifelse)
export(rvinvchisq)
export(rvmapply)
export(rvmatrix)
export(rvarray)
export(is.matrix.rv)
export(as.matrix.rv)
export(rvmean)
  S3method(rvmean,default)
  S3method(rvmean,rvsummary)
  S3method(rvmean,rv)
export(E)
export(Pr)
export(rvmin)
export(rvmax)
export(rvrange)
export(rvmultinom)
export(rvnorm)
export(as.rvobj)
export(is.rvobj)
export(rvpar)
export(rvpermut)
export(rvpois)
export(rvquantile)
  S3method(rvquantile,rv)
  S3method(rvquantile,rvsummary)
export(rvmedian)
  S3method(rvmedian,rv)
  S3method(rvmedian,rvsummary)
export(rvsample)
export(rvvar)
  S3method(rvvar,default)
  S3method(rvvar,rv)
  S3method(rvvar,rvsummary)
export(rvsd)
  S3method(rvsd,rv)
  S3method(rvsd,default)
  S3method(rvsd,rvsummary)
export(rvsimapply)
export(rvsims)
export(as.rvsummary)
  S3method(as.rvsummary,rvinteger)
  S3method(as.rvsummary,rv)
export(as.rvsummary)
  S3method(as.rvsummary,bugs)
  S3method(as.rvsummary,rvlogical)
  S3method(as.rvsummary,rvsummary)
  S3method(as.rvsummary,rvnumeric)
  S3method(as.rvsummary,rvfactor)
export(is.rvsummary)
export(print.rvsummary)
export(dim.rvsummary)
export("dim<-.rvsummary")
export(dimnames.rvsummary)
export("dimnames<-.rvsummary")
export(names.rvsummary)
export("names<-.rvsummary")
export("dimnames<-.rvsummary")
export(length.rvsummary)
export(as.double.rvsummary)
export(print.rvsummary_rvfactor)
export(rvt)
export(rvunif)
export(simapply)
export(sims)
  S3method(sims,rvsummary)
  S3method(sims,rv)
  S3method(sims,default)
export(solve.rv)
export(sort.rv)
export(splitbyname)
export(summary.rv)
export(summary.rvfactor)
export(unlist.rv)
