export(detachrv)
export(rvnsims)
export(nsims)
export(rv)
export(rvsims)
export(sims)
  S3method(sims,rv)
  S3method(sims,rvsim)
  S3method(sims,default)
export(is.rv)
  S3method(is.rv,rv)
  S3method(is.rv,default)
export(is.random)
export(is.na.rv)
export(as.constant)
  S3method(as.constant,rvsim)
  S3method(as.constant,rv)
export(as.rv)
  S3method(as.rv,numeric)
  S3method(as.rv,integer)
  S3method(as.rv,list)
  S3method(as.rv,default)
export(as.rv)
  S3method(as.rv,bugs)
  S3method(as.rv,rv)
  S3method(as.rv,logical)
  S3method(as.rv,matrix)
export(as.vector.rv)
export(is.constant)
  S3method(is.constant,rv)
  S3method(is.constant,default)
  S3method(is.constant,rvsim)
export(rvmatrix)
export(rvarray)
export(rvattach)
export("[<-")
export("[.rv")
export("[<-.rv")
export("[<<-.rv")
export("$.rv")
export("$<-.rv")
export("c")
export(cbind.rv)
export(rbind.rv)
export(mean.rv)
export("%*%")
export(split.rv)
export(sort)
export(is.vector)
export(is.atomic.rv)
export(min)
export(max)
export(pmin)
export(pmax)
export(rvmean)
export(E)
export(Pr)
export(rvvar)
export(rvsd)
export(rvquantile)
export(rvmedian)
export(rvmin)
export(rvmax)
export(rvsample)
export(rvrange)
export(simapply)
export(rvsimapply)
export(matsimapply)
export(Math.rv)
export(Math.rvsim)
export(cumsum.rv)
export(cumprod.rv)
export(cummin.rv)
export(cummax.rv)
export(Ops.rv)
export(Ops.rvsim)
export("!.rv")
export(Summary.rv)
export(range.rv)
export(rvconst)
export(rvnorm)
export(rvt)
export(rvcauchy)
export(rvchisq)
export(rvinvchisq)
export(rvgamma)
export(rvexp)
export(rvpois)
export(rvunif)
export(rvbern)
export(rvbinom)
export(rvbeta)
export(rvdirichlet)
export(rvboot)
export(rvpermut)
export(rowapply)
export(cov)
export(var)
export(rvcov)
export(quantile.rv)
export(median)
export(postsim)
export(postsim.lm)
export(postsim.glm)
export(points.rv)
export(abline.rv)
export(lines.rv)
export(rvplot)
export(hist.rv)
export(rvhist)
export(hrvplot)
  S3method(hrvplot,matrix)
  S3method(hrvplot,rv)
export(plot)
  S3method(plot,rv)
export(mcmcarray)
export(rvattr)
export("rvattr<-")
export(rvRhat)
export(rvneff)
export(rvnchains)
export(rvci)
export(rvinci)
export(doc)
export(print.rv)
export(summary.rv)
